/* Info: The stylesheet of input fields would be located in contact.php. */

body,td,th{font-family:Verdana,Arial,Helvetica,sans-serif;font-size:12px;color:#000000;}
body{background-color: #FFFFFF;text-align:center;}

a:link, a:visited, a:active{color:#000000;text-decoration:none;}

a:hover{text-decoration: underline;}


.pflichtfeld {
	 color: #ff0000;}
	 .neuercode {
	 color: #0066FF;}
	 	 .copyright {
	 color: #000000;}